API_TOKEN=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432

REDIS_HOST=
REDIS_PORT=6379
REDIS_DB_FOR_DP=0
REDIS_DB_FOR_USERS=1
REDIS_USER=
REDIS_PASSWORD=
REDIS_USERS_EXPIRE_SECONDS=600

DJANGO_SECRET_KEY=
DJANGO_DEBUG=
DJANGO_HOSTS=*
DJANGO_PORT=8080

BOT_ROOT_CATEGORY_STR=None